.main{
    display: flex;
}

.resim{
    width: 200px;
    height: 100vh;
    border: 2px solid rgb(28, 189, 230);
    border-radius: 30px;
    margin: 10px;
    background-size: cover ;
    flex: 0.5;
    cursor: pointer;
    transition: 0.5s;
}

.resim.active{
    flex: 5;
}
#one{
    background-image:url("pexels-photo-748992.jpeg")
}
#two{
    background-image: url("pexels-photo-994605.jpeg");
}
#three{
    background-image: url("pexels-photo-1450360.jpeg");
}
#four{
    background-image: url("pexels-photo-1761279.jpeg");
}
#five{
    background-image: url("veil-cases-waterfall-autumn-alpine-957089.jpeg");
}